<div>
    <mat-toolbar dense style='padding-left: 10%;padding-right: 10%;'>
        <button (click)='add()' mat-button>
            <mat-icon>add</mat-icon>Tambah
        </button>
        <button (click)='openFilterForm()' mat-button>
            <mat-icon>search</mat-icon>Cari
        </button>
        <!-- <button *ngIf='filtered' (click)='filterForm!.reset()' mat-button>
            <mat-icon>delete</mat-icon>Bersihkan Pencarian
        </button> -->
        <!-- <button>
            <mat-icon>view_column</mat-icon>
            Columns
        </button>
        <mat-menu>
            <mat-menu></mat-menu>
        </mat-menu> -->
        <span style="flex: 1 auto"></span>
        <mat-label style="margin-right: 2em;">
            Lihat Kolom: 
        </mat-label>
        <mat-select [formControl]='viewColumnCtrl' multiple placeholder='Kolom' style="width: 200px;">
            <mat-option value='project'>Project</mat-option>
            <mat-option value='product'>Product</mat-option>
            <mat-option value='additionTask'>Addition Task</mat-option>
            <mat-option value='module'>Module</mat-option>
            <mat-option value='date_start'>Date Start</mat-option>
            <mat-option value='date_target'>Date Target</mat-option>
            <mat-option value='date_finish'>Date Finish</mat-option>
            <mat-option value='activity'>Activity</mat-option>
            <mat-option value='status'>Status</mat-option>
            <mat-option value='effort'>Effort</mat-option>
            <mat-option value='blockers'>Blockers</mat-option>
        </mat-select>
    </mat-toolbar>
    <form *ngIf='filterForm' [formGroup]='filterForm'>
        <table mat-table class="full-width-table" [dataSource]="dataSource" matSort>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.pid | personil}} </td>
            </ng-container>
    
            <!-- Project Column -->
            <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef> Project </th>
                <td mat-cell *matCellDef="let row"> {{row.project}} </td>
            </ng-container>
    
            <!-- Product Column -->
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let row"> {{row.product}} </td>
            </ng-container>
    
            <!-- Addition Task Column -->
            <ng-container matColumnDef="additionTask">
                <th mat-header-cell *matHeaderCellDef> Addition Task </th>
                <td mat-cell *matCellDef="let row"> {{row.additionTask}} </td>
            </ng-container>
    
            <!-- Module Column -->
            <ng-container matColumnDef="module">
                <th mat-header-cell *matHeaderCellDef> Module </th>
                <td mat-cell *matCellDef="let row"> {{row.module}} </td>
            </ng-container>
    
            <!-- Date Start Column -->
            <ng-container matColumnDef="date_start">
                <th mat-header-cell *matHeaderCellDef> Date Start </th>
                <td mat-cell *matCellDef="let row"> {{row.date_start && row.date_start.toDate() | date}} </td>
            </ng-container>
    
            <!-- Date Target Column -->
            <ng-container matColumnDef="date_target">
                <th mat-header-cell *matHeaderCellDef> Date Target </th>
                <td mat-cell *matCellDef="let row"> {{row.date_target && row.date_target.toDate() | date}} </td>
            </ng-container>
    
            <!-- Date Finish Column -->
            <ng-container matColumnDef="date_finish">
                <th mat-header-cell *matHeaderCellDef> Date Finish </th>
                <td mat-cell *matCellDef="let row"> {{row.date_finish && row.date_finish.toDate() | date}} </td>
            </ng-container>
    
            <!-- Activity Column -->
            <ng-container matColumnDef="activity">
                <th mat-header-cell *matHeaderCellDef> Activity </th>
                <td mat-cell *matCellDef="let row"> {{row.activity}} </td>
            </ng-container>
    
            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
    
            <!-- Effort Column -->
            <ng-container matColumnDef="effort">
                <th mat-header-cell *matHeaderCellDef> Effort </th>
                <td mat-cell *matCellDef="let row"> {{row.effort}} </td>
            </ng-container>
    
            <!-- Blockers Column -->
            <ng-container matColumnDef="blockers">
                <th mat-header-cell *matHeaderCellDef> Blockers </th>
                <td mat-cell *matCellDef="let row"> {{row.blockers}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button (click)='edit(row.id)' mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)='delete(row.id)' color='warn' mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
    </form>
    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[10,25,50,100]">
    </mat-paginator>
</div>
