<mat-toolbar dense>
    {{ dialogData?.id ? 'Ubah' :'Tambah' }}
</mat-toolbar>
<form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
    <div style="display: inline-block;margin-right: 1%; width: 49%">
        <div>
            <mat-form-field>
                <mat-select formControlName="pid" placeholder='Nama Personil' required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="nameFilterCtrl" placeholderLabel='Cari Personil'>
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor='let item of (personil$ | async); trackBy: personilTrackByFn'
                        [value]='item.pid'>
                        {{ item.panggilan }} - {{ item.nama }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Project</mat-label>
                <input matInput formControlName="project" name='project' required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Product</mat-label>
                <input matInput formControlName="product" name='product'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Addition Task</mat-label>
                <input matInput formControlName="additionTask" name='additionTask'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Module</mat-label>
                <input matInput formControlName="module" name='module' required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Date Start</mat-label>
                <input (focus)='dateStartPicker.open()' matInput [matDatepicker]='dateStartPicker'
                    formControlName="date_start" name='date_start' readonly required>
                <mat-datepicker-toggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateStartPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div style="display: inline-block;margin-left: 1%; width: 49%">
        <div>
            <mat-form-field>
                <mat-label>Date Target</mat-label>
                <input #dateTargetRef (focus)='dateTargetPicker.open()' matInput [matDatepicker]='dateTargetPicker'
                    formControlName="date_target" name='date_target' readonly required>
                <mat-datepicker-toggle matSuffix [for]="dateTargetPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateTargetPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Date Finish</mat-label>
                <input #dateFinishRef (focus)='dateFinishPicker.open()' matInput [matDatepicker]='dateFinishPicker'
                    formControlName="date_finish" name='date_finish' readonly required>
                <mat-datepicker-toggle matSuffix [for]="dateFinishPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateFinishPicker (closed)='activityRef.focus()'></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Activity</mat-label>
                <input #activityRef matInput formControlName="activity" name='activity' required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select formControlName="status" placeholder='Status' required>
                    <mat-option value='Off Track'>Off Track</mat-option>
                    <mat-option value='On Track'>On Track</mat-option>
                    <mat-option value='At Risk'>At Risk</mat-option>
                    <mat-option value='Completed'>Completed</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select formControlName="effort" placeholder='Effort' required>
                    <mat-option value='Small'>Small</mat-option>
                    <mat-option value='Medium'>Medium</mat-option>
                    <mat-option value='Large'>Large</mat-option>
                    <mat-option value='Extra Large'>Extra Large</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Blockers</mat-label>
                <input matInput formControlName="blockers" name='blockers'>
            </mat-form-field>
        </div>
    </div>
    
    <div style="display: flex; flex-direction: row; align-items: center;">
        <mat-checkbox *ngIf='showCloseCheckbox' [checked]='closeAfterSubmit'
            (change)='closeAfterSubmit = !closeAfterSubmit'>
            Tutup Setelah Submit</mat-checkbox>
        <span style='flex: 1 auto'></span>
        <button color='primary' mat-raised-button type="submit">Submit</button>
    </div>
</form>