<mat-toolbar dense>
    Filter
</mat-toolbar>
<form [formGroup]='filterService.filterForm' (ngSubmit)='onSubmit()'>
    <div style="display: inline-block;margin-right: 1%; width: 49%">
        <div>
            <mat-form-field>
                <mat-select formControlName="pid" multiple placeholder='Nama Personil'>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="nameFilterCtrl" placeholderLabel='Cari Personil'>
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor='let item of (personil$ | async); trackBy: personilTrackByFn' [value]='item.pid'>
                        {{ item.panggilan }} - {{ item.nama }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Project</mat-label>
                <input matInput formControlName="project" name='project'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Product</mat-label>
                <input matInput formControlName="product" name='product'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Addition Task</mat-label>
                <input matInput formControlName="additionTask" name='additionTask'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Module</mat-label>
                <input matInput formControlName="module" name='module'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Date Start</mat-label>
                <mat-date-range-input formGroupName='date_start' [rangePicker]="dateStartPicker">
                    <input formControlName='start' matStartDate placeholder="Start date">
                    <input formControlName='end' matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
                <mat-date-range-picker #dateStartPicker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>
    <div style="display: inline-block;margin-left: 1%; width: 49%">
        <div>
            <mat-form-field>
                <mat-label>Date Target</mat-label>
                <mat-date-range-input formGroupName='date_target' [rangePicker]="dateTargetPicker">
                    <input formControlName='start' matStartDate placeholder="Start date">
                    <input formControlName='end' matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="dateTargetPicker"></mat-datepicker-toggle>
                <mat-date-range-picker #dateTargetPicker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Date Finish</mat-label>
                <mat-date-range-input formGroupName='date_finish' [rangePicker]="dateFinishPicker">
                    <input formControlName='start' matStartDate placeholder="Start date">
                    <input formControlName='end' matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="dateFinishPicker"></mat-datepicker-toggle>
                <mat-date-range-picker #dateFinishPicker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Activity</mat-label>
                <input #activityRef matInput formControlName="activity" name='activity'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select formControlName="status" placeholder='Status'>
                    <mat-option value='Off Track'>Off Track</mat-option>
                    <mat-option value='On Track'>On Track</mat-option>
                    <mat-option value='At Risk'>At Risk</mat-option>
                    <mat-option value='Completed'>Completed</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select formControlName="effort" placeholder='Effort'>
                    <mat-option value='Small'>Small</mat-option>
                    <mat-option value='Medium'>Medium</mat-option>
                    <mat-option value='Large'>Large</mat-option>
                    <mat-option value='Extra Large'>Extra Large</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Blockers</mat-label>
                <input matInput formControlName="blockers" name='blockers'>
            </mat-form-field>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center;">
        <span style='flex: 1 auto'></span>
        <button color='primary' mat-raised-button type="submit">Cari</button>
    </div>
</form>