<mat-toolbar color='primary' style="padding-left: 10%;padding-right: 10%;">
  <span>Backlog & Task</span>
  <span style="flex: 1 auto"></span>
  <ng-container *ngIf='authService.auth.user | async as user; else login'>
    <span>{{ user.displayName + '&nbsp;&nbsp;&nbsp;' }}</span>
    <button mat-button (click)='authService.logout()'>Logout</button>
  </ng-container>
  <ng-template #login>
    <button  mat-button (click)='authService.login()'>Login</button>
  </ng-template>
</mat-toolbar>

<div>
  <app-table style='width: 100%'></app-table>
</div>